body {
  background: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20px;
  transition: background 0.5s;
  -webkit-transition:background 0.5s;
  -moz-transition:background 0.5s;
}

#container {
  max-width: 600px;
  margin: 20px auto;
}

h1 {
  color: white;
  line-height: 1.1;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  padding: 20px 0;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  color: white;
  background: steelblue;
}

#color-display {
  font-size: 200%;
}

button {
  color: steelblue;
  font-weight: 700;
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-size: inherit;
  letter-spacing: 1px;
  outline: none;
}

button:hover {
  color: white;
  background: steelblue;
  transition: 0.3s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}

#message {
  display: inline-block;
  width: 20%;
}
